# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
 
# 1 MONTH
<FilesMatch "\.(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=2628000, public"
</FilesMatch>
 
# 1 HOUR
<FilesMatch "\.(txt|xml)$">
Header set Cache-Control "max-age=3600"
</FilesMatch>
 
# NEVER CACHE
<FilesMatch "\.(html|htm|php|cgi|pl|css|js)$">
Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
</FilesMatch>
</IfModule>

# X-SECURITY HEADERS
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-Content-Type-Options nosniff
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTP
	Header set Referrer-Policy "same-origin"
	Header always set Permissions-Policy "geolocation=(),midi=(),sync-xhr=(),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=(self),payment=()"
</IfModule>


